<% include ./partials/header.ejs %>

<div class="container-fluid">
  <div class = "row equal" style="margin-top:75px;" >
    <div class="col-md-8 col-md-offset-2">

        <!-- start of button 1 -->
        <a href="/certificatesDashboard/courseType" >
        <div  style="border-color:#555555; border-width:1pt;"  class="col-md-4   btn btm-hover jumbotron container-fluid">
          <p>Manage Course Types</P>
        </div>
         </a><!-- end button 1-->
         <!-- start of button 2 -->
        <a href="/certificatesDashboard/course" >
        <div  style="border-color:#555555; border-width:1pt;"  class="col-md-4   btn btm-hover jumbotron container-fluid">
          <p>Manage Courses</P>
        </div>
         </a><!-- end button 2-->
        
  </div>
</div>
</div>


<%include ./partials/footer.ejs%>
