<!-- includes the partial file header.ejs --> 
<% include ./partials/header.ejs %>
<div class="container-fluid">
  <div class = "row equal" style="margin-top:75px;" >
    <div class="col-md-8 col-md-offset-2">
        <a href="/employeeDashboard/department" >
        <div  style="border-color:#555555; border-width:1pt;  background-color:#283e66;"  class="col-md-4   btn btm-hover jumbotron container-fluid">
          
                      <p  style="margin-left:-5px;" class="buttonText">Departments</P>
                 
        </div>
         </a><!-- end button 1-->
         <a href="/employeeDashboard/manageEmployee" >
        <div style="border-color:#555555; border-width:1pt;  background-color:#283e66;"  class="col-md-4 col-md-offset-1  btn btm-hover jumbotron container-fluid">

                  <p  style="margin-left:-30px;" class="buttonText">Manage Employees</P>
        </div>
         </a><!-- end button 2-->
  </div>
</div>
</div>

<!-- includes the partial file footer.ejs --> 
<%include ./partials/footer.ejs%>
