<% include ./partials/header.ejs %>
 <% if (!user) { %>
<h1> Welcome to the Western Certifications App<h1>
    <h2> Head over to the <a href="/login"> login </a> page to get started</h2>
<% } 
else { %>
<h1> Hi <%= user.firstName %>, Welcome to the Western Certifications App<h1>
        <h2> Head over to the <a href="/home"> dashboard </a> to get started</h2>
<% } %>
<%include ./partials/footer.ejs%>