<!-- includes the partial file header.ejs --> 
<% include ./partials/header.ejs %>

<h2>Western Health & Safety Dashboard</h2>
<div class="container-fluid">
  <div class = "row equal"  >
     <div class="col-md-8 col-md-offset-2 container-fluid">
         <a href="/employeeDashboard" >
                    <div style="border-color:#555555; border-width:1pt;  background-color:#283e66;"  class="col-md-4   btn btm-hover jumbotron container-fluid">
                           <p  style="margin-left:-40px;" class="buttonText">Employee Dashboard</P>
               
                    </div>
          </a><!-- end button 1-->
          <a href="/certificatesDashboard">
                <div style="border-color:#555555; border-width:1pt;  background-color:#283e66;"  class="col-md-4 col-md-offset-1  btn btm-hover jumbotron container-fluid">
                     <p  style="margin-left:-50px;" class="buttonText">Certificates Dashboard</P>
                </div>
          </a><!-- end button 2-->
          <a href="/expiringSoon">
                <div style="border-color:#555555; border-width:1pt; background-color:#283e66;"  class="col-md-4   btn btm-hover jumbotron container-fluid">
                      <p class="buttonText">Expiring Soon</P>
                </div>
        </a><!-- end button 3-->
        <a href="#">  
            <div style="border-color:#555555; border-width:1pt; background-color:#283e66;"  class="col-md-4 col-md-offset-1  btn btm-hover jumbotron container-fluid">
                <p class="buttonText">N/a</P>   
            </div>
        </a><!-- end button 4 -->
    </div><!-- button container -->
  </div><!-- end row -->
</div><!-- end container -->
<!-- includes the partial file header.ejs --> 
<%include ./partials/footer.ejs%>
