<!-- includes the partial file header.ejs --> 
<% include ./partials/header.ejs %>

<h2>Western Health & Safety Dashboard</h2>
<div class="container-fluid">
  <div class = "row equal"  >
     <div class="col-md-8 col-md-offset-2 container-fluid">
         <a href="/employeeDashboard" >
                    <div style="min-width:90px;border-color:#555555; border-width:1pt;  background-color:#283e66;height:150px; max-height:150px;"  class="col-xs-5   btn btm-hover jumbotron container-fluid">
                           <p  class="buttonText">Employee</br>Dashboard</P>
               
                    </div>
          </a><!-- end button 1-->
          <a href="/certificatesDashboard">
                <div style="min-width:90px;border-color:#555555; border-width:1pt;  background-color:#283e66;height:150px; max-height:150px;"  class="col-xs-5 col-xs-offset-2  btn btm-hover jumbotron container-fluid">
                     <p class="buttonText">Certificates</br>Dashboard</P>
                </div>
          </a><!-- end button 2-->
          <div class="clearfix visible-xs"></div>
          <a href="/expiringSoon">
                <div style="min-width:90px;border-color:#555555; border-width:1pt; background-color:#283e66;height:150px; max-height:150px;"  class="col-xs-5   btn btm-hover jumbotron container-fluid">
                      <p class="buttonText">Expiring</br>Soon</P>
                </div>
        </a><!-- end button 3-->
        <a href="#">  
            <div style="min-width:90px;border-color:#555555; border-width:1pt; background-color:#283e66;height:150px; max-height:150px;"  class="col-xs-5 col-xs-offset-2  btn btm-hover jumbotron container-fluid">
                <p class="buttonText">N/A</P>   
            </div>
        </a><!-- end button 4 -->
    </div><!-- button container -->
  </div><!-- end row -->
</div><!-- end container -->
<!-- includes the partial file header.ejs --> 
<%include ./partials/footer.ejs%>
