<!-- includes the partial file header.ejs --> 
<% include partials/header.ejs %>

<main class="container">
    <h1>Login</h1>
    <!--  checks the session to see if it needs to change the banner above login   -->
<% if (messages.length > 0) { 
    if(messages1.length > 0) 
    {%>
    <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <%= messages %> </br> <%= messages1 %>  </div>

<% }
else
{ %>
<div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <%= messages %> </div>
  <% } } 

else { %>

<div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
   Please Enter your <strong> email </strong> </br> and <strong>password</strong> below!
  </div>

<% } %>
<!--  login form    -->
    <form method="post">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">E-mail</label>
            <input name="username" id="username" required />
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password:</label>
            <input name="password" id="password" type="password" required />
        </div>
        <button style="width:145px;" class="btn btn-success col-sm-offset-2">Login</button>
    </form>

</main>
<!--   includes the partial file footer.ejs  -->
<% include partials/footer.ejs %>