body {
  padding: 150px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: red;
}

a {
  color: #00B7FF;
}

.buttonText{
  color: #999999;
}
.navbar{
position: left;
  padding-left: 500px;
  background-color: #052c4d;
}