body{
  padding:25px;
  padding-top: 250px;
}
@-ms-viewport{
  width: device-width;
}
a {
  color: #00B7FF;
}

.buttonText{
  color: #999999;
}
.navbar{
  background-color: #052c4d;
}
.headerLogoImg{
padding-right: 250px;
}

ul.li{
  
width:9%;
}