body{

  padding-top: 150px;
  padding-bottom: 200px;
  margin-right:10px;
}

@-ms-viewport{
  width: device-width;
}
a {
  color: #00B7FF;
}

.buttonText{
  color: #999999;
}
.navbar{
  background-color: #052c4d;
}
#footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
.logo{
  font-size:20;
}
