<% include ../../partials/header.ejs %>

<main class="container">

<h1>Add a New Employee</h1>

<form method="post">
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name: </label>
        <input name="firstName" id="firstName" required />
    </div>
    <div class="form-group">
        <label for="surName" class="col-sm-2 control-label">Last Name: </label>
        <input name="surName" id="surName" required />
    </div>

   <div class="form-group">
        <label for="departmentname" class="col-sm-2 control-label">Department: </label>
         <!--  logic to populate the select dropdown   -->
        <select name="departmentname" id="departmentname">
<% for (var i = 0; i < departments.length; i++) { %>
     <option class="list-group-item list-group-item-action" value="<%= departments[i].departmentname%>">
            <%= departments[i].departmentname %>
       </option>
    <% } %>
        </select>
         
   </div>
   <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Email: </label>
            <input name="username" id="username" required type="email"/>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password: </label>
            <input name="password" id="password" type="password" required />
        </div>
            <div class="form-group">
            <label for="confirm" class="col-sm-2 control-label">Re-Type Password: </label>
            <input name="confirm" id="confirm" type="password" required />
            </div>
    <button class="btn btn-success col-sm-offset-2">Save</button>
</form>

</main>



<%include ../../partials/footer.ejs%>