<% include ../../partials/header.ejs %>
<script type="text/javascript">
$(document).on('change','#filterddl', toggleCategorySearch(this));
</script>

<main class="container">
   
<h1>Add a New Employee Certificate</h1>

<form method="post">
  
    <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">First Name: </label>
            <input  id="firstname" name="firstname"  required type="text" readonly="true" value="<%= users.firstName %>" />
        </div>
         <div class="form-group">
            <label for="surname" class="col-sm-2 control-label">Last Name: </label>
            <input  id="surname" name="surname" readonly="true" required type="text"  value="<%= users.surName %>" />
        </div>
    

   <div class="form-group">
        <label for="coursename" class="col-sm-2 control-label">Certification: </label>
        <select name="coursename" id="coursename">
             <!--  logic to populate the select dropdown   -->
<% for (var i = 0; i < courses.length; i++) { %>
     <option class="list-group-item list-group-item-action" value="<%= courses[i].coursename%>">
            <%= courses[i].coursename %>
       </option>
    <% } %>
        </select>

        <label for="filterddl">Search By Certificate:  </label> 
    <input type="text" style="width:225px;" placeholder="Filter Certificates Dropdown" onforminput="ddl()" onformchange="ddl()" onsubmit="ddl()" onkeyup="ddl()" onchange="ddl()" onkeypress="ddl()" oninput="ddl()" onkeydown="ddl()" id="filterddl"/>
         <input type="button" onclick="ddl()" value="Click to apply filter"/>
   </div>

    <div class="form-group">
            <label for="expiry" class="col-sm-2 control-label">Expiry: </label>
            <input name="expiry" id="expiry" required type="date" placeholder="YYYY-MM-DD" min="2017-01-01" max="2050-01-01" />
        </div>
  
    <button class="btn btn-success col-sm-offset-2">Save</button>
</form>

</main>



<%include ../../partials/footer.ejs%>