<% include ../../partials/header.ejs %>
<main class="container">
   
<h1>Add a new employee Certificate</h1>

<form method="post">
  
    <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">First Name: </label>
            <input  id="firstname" name="firstname"  required type="text" readonly="true" value="<%= users.firstName %>" />
        </div>
         <div class="form-group">
            <label for="surname" class="col-sm-2 control-label">Last Name: </label>
            <input  id="surname" name="surname" readonly="true" required type="text"  value="<%= users.surName %>" />
        </div>
    

   <div class="form-group">
        <label for="coursename" class="col-sm-2 control-label">Course: </label>
        <select name="coursename" id="coursename">
<% for (var i = 0; i < courses.length; i++) { %>
     <option class="list-group-item list-group-item-action" value="<%= courses[i].coursename%>">
            <%= courses[i].coursename %>
       </option>
    <% } %>
        </select>
         
   </div>

    <div class="form-group">
            <label for="expiry" class="col-sm-2 control-label">Expiry: </label>
            <input name="expiry" id="expiry" required type="date" placeholder="YYYY-MM-DD" min="2017-01-01" max="2050-01-01" />
        </div>
  
    <button class="btn btn-success col-sm-offset-2">Save</button>
</form>

</main>



<%include ../../partials/footer.ejs%>